#ignore specific files
*~
*.pyc
*.bak
*.swo
*.swp
.project
.pydevproject
.idea/*
.settings/*
*.vscode
*.log
/venv/
**/migrations/
!/migrations/__init__.py
logs/*
.DS_Store
/config/cov.coverage
/config/.env
/config/cov.syspath.txt
/config/coverage.xml
/config/.coverage
/config/static/*
/.coverage
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
coverage_report/coverage.xml
static/*
/.scannerwork/pylint/
/Dore-JQuery-Admin-Dashboard-2.3.0 2/
/.scannerwork/
google-alps-sit.json
cloud_sql_proxy
/config/ssl/private_octifime.key
/config/ssl/STAR_octifi_com.crt
/config/ssl/www_octifi_me.crt
**/media/
settings.ini
main.py